@import "./includes/vars";

:root {
  --color-border: #d8d8d8;
  --color-bg: #f4f4f4;
  --color-primary: #5147f6;
  --color-secondary: #dedeff;

  --fw-bold: 600;
  --fw-normal: 300;
  --ft-family: "Montserrat", sans-serif;

  --spacing-box: 1rem;
  --spacing-md-box: 0.7rem;

  --transition: all 0.2s ease-in-out;
}

// GLOBAL STYLES

body {
  background-color: var(--color-bg);
  color: #000000;
  font-family: var(--ft-family);
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: var(--fw-normal);
  font-style: normal;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: var(--fw-bold);
}

.dashboard {
  padding: var(--spacing-md-box);

  .row {
    display: grid;
    grid-gap: 0 var(--spacing-box);
    grid-template-columns: auto 4fr;
  }

  .sidebar,
  .content {
    background-color: white;
    border-radius: var(--spacing-md-box);
    height: calc(100dvh - (var(--spacing-box) * 2));
    min-height: 750px;
  }

  &.sidebar-close {
    .row {
      grid-template-columns: auto 4fr;
    }

    .sidebar {
      width: 80px;

      &-arrow {
        transform: rotate(180deg);
      }

      .menu {
        &-link {
          span,
          strong {
            display: none;
          }
        }
      }

      .plan {
        display: none;
      }
    }
  }

  &.sidebar-open {
    .sidebar {
      position: fixed;
      width: calc(100% - (var(--spacing-box) * 2));
      box-shadow: 0 3px 5px #999;

      &-arrow {
        transform: rotate(0);
      }

      .menu {
        &-link {
          span,
          strong {
            display: block;
          }
        }
      }

      .plan {
        display: block;
      }
    }
  }

  @media (min-width: $break-tablet) {
    padding: var(--spacing-box);

    &.sidebar-open {
      .sidebar {
        box-shadow: none;
        position: relative;
        width: 250px;
      }
    }
  }

  @media (min-width: $break-lg) {
    .row {
      grid-template-columns: 1fr 4fr;
    }

    &.sidebar-open {
      .sidebar {
        width: fit-content;
      }
    }
  }

  // IMPORTS
  @import "./components/sidebar";
  @import "./components/content";
}
