.content {
  overflow: hidden;
  word-break: break-all;

  .container {
    padding: var(--spacing-box);
    max-height: 100%;
    overflow-y: auto;

    @media (min-width: $break-tablet) {
      padding: 3rem;
    }
  }

  // IMPORTS
  @import "./tabs";
  @import "./breadcrumb";
  @import "./search";
  @import "./table";
}
