.sidebar {
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 80px;

  &-arrow {
    cursor: pointer;
    position: absolute;
    right: var(--spacing-md-box);
    top: var(--spacing-md-box);
    transition: all 0.2s ease-in-out;
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem var(--spacing-md-box);
    height: calc(100% - 6rem);
  }

  .logo {
    align-self: flex-start;
    margin-bottom: 2.5rem;
    width: 100%;

    &-box {
      background-color: var(--color-primary);
      border-radius: var(--spacing-box);
      height: $logo-size;
      line-height: $logo-size;
      margin: 0 auto;
      text-align: center;
      width: $logo-size;
    }

    i {
      color: white;
      font-size: $logo-size;
    }
  }

  @media (min-width: $break-lg) {
    width: 100%;
  }

  // IMPORTS
  @import "./menu";
  @import "./plan";
}
