// VARS
$logo-size: 60px;

// STYLES
.sidebar {
  &-container {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem var(--spacing-md-box);
    height: calc(100% - 6rem);
  }

  .logo {
    align-self: flex-start;
    margin-bottom: 2.5rem;
    width: 100%;

    &-box {
      background-color: var(--color-primary);
      border-radius: var(--spacing-box);
      height: $logo-size;
      line-height: $logo-size;
      margin: 0 auto;
      text-align: center;
      width: $logo-size;
    }

    i {
      color: white;
      font-size: $logo-size;
    }
  }

  // IMPORTS
  @import "./menu";
  @import "./plan";
}
