.files {
  &-container {
    overflow-x: auto;
  }

  &-table {
    border: none;
    border-spacing: 0;
    font-size: 14px;
    min-width: 640px;
    width: 100%;

    th,
    td {
      border-bottom: 1px solid var(--color-bg);
      padding: var(--spacing-md-box) 3px;
      text-align: center;

      &.filename {
        text-align: left;
      }

      input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        background-color: white;
        border: 1px solid var(--color-border);
        border-radius: 2px;
        cursor: pointer;
        height: $checkbox-size;
        margin: 0;
        width: $checkbox-size;

        &:checked {
          &::before {
            background-color: var(--color-primary);
            content: "";
            display: block;
            margin: 2px auto;
            height: calc($checkbox-size / 2);
            width: calc($checkbox-size / 2);
          }
        }
      }
    }

    thead {
      th {
        &.filename {
          width: 40%;

          @media (min-width: $break-lg) {
            width: 50%;
          }
        }
      }
    }

    tbody {
      tr {
        transition: var(--transition);

        &:hover {
          background-color: var(--color-bg);
        }

        td {
          &.filename {
            a {
              align-items: center;
              display: flex;
              gap: 0 var(--spacing-md-box);
              text-decoration: none;
              width: 100%;

              i {
                color: var(--color-primary);
              }

              span {
                color: #000;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 200px;

                @media (min-width: $break-lg) {
                  width: 30dvw;
                }
              }
            }
          }
        }
      }
    }
  }
}
