:root {
  --color-border: #d8d8d8;
  --color-bg: #f4f4f4;
  --color-primary: #5147f6;
  --color-secondary: #dedeff;
  --fw-bold: 600;
  --fw-normal: 300;
  --ft-family: "Montserrat", sans-serif;
  --spacing-box: 1rem;
  --spacing-md-box: 0.7rem;
  --transition: all 0.2s ease-in-out;
}

body {
  background-color: var(--color-bg);
  color: #000000;
  font-family: var(--ft-family);
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: var(--fw-normal);
  font-style: normal;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: var(--fw-bold);
}

.btn {
  background-color: var(--color-bg);
  border-radius: 5px;
  color: black;
  font-size: 13px;
  padding: 8px 10px;
  text-decoration: none;
}
.btn.has-icon {
  align-items: center;
  display: flex;
  gap: 0 5px;
}
.btn-primary {
  background-color: var(--color-primary);
  color: white;
}

.dashboard {
  padding: var(--spacing-md-box);
}
.dashboard .row {
  display: grid;
  grid-gap: 0 var(--spacing-box);
  grid-template-columns: auto 4fr;
}
.dashboard .sidebar,
.dashboard .content {
  background-color: white;
  border-radius: var(--spacing-md-box);
  height: calc(100dvh - var(--spacing-box) * 2);
  min-height: 750px;
}
.dashboard.sidebar-close .row {
  grid-template-columns: auto 4fr;
}
.dashboard.sidebar-close .sidebar {
  width: 80px;
}
.dashboard.sidebar-close .sidebar-arrow {
  transform: rotate(180deg);
}
.dashboard.sidebar-close .sidebar .menu-link span,
.dashboard.sidebar-close .sidebar .menu-link strong {
  display: none;
}
.dashboard.sidebar-close .sidebar .plan {
  display: none;
}
.dashboard.sidebar-open .sidebar {
  position: fixed;
  width: calc(100% - var(--spacing-box) * 2);
  box-shadow: 0 3px 5px #999;
}
.dashboard.sidebar-open .sidebar-arrow {
  transform: rotate(0);
}
.dashboard.sidebar-open .sidebar .menu-link span,
.dashboard.sidebar-open .sidebar .menu-link strong {
  display: block;
}
.dashboard.sidebar-open .sidebar .plan {
  display: block;
}
@media (min-width: 769px) {
  .dashboard {
    padding: var(--spacing-box);
  }
  .dashboard .row {
    grid-template-columns: 1fr 4fr;
  }
  .dashboard.sidebar-open .sidebar {
    box-shadow: none;
    position: relative;
    width: fit-content;
  }
}
.dashboard .sidebar {
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 80px;
}
.dashboard .sidebar-arrow {
  cursor: pointer;
  position: absolute;
  right: var(--spacing-md-box);
  top: var(--spacing-md-box);
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}
.dashboard .sidebar-container {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem var(--spacing-md-box);
  height: calc(100% - 6rem);
}
.dashboard .sidebar .logo {
  align-self: flex-start;
  margin-bottom: 2.5rem;
  width: 100%;
}
.dashboard .sidebar .logo-box {
  background-color: var(--color-primary);
  border-radius: var(--spacing-box);
  height: 60px;
  line-height: 60px;
  margin: 0 auto;
  text-align: center;
  width: 60px;
}
.dashboard .sidebar .logo i {
  color: white;
  font-size: 60px;
}
@media (min-width: 769px) {
  .dashboard .sidebar {
    width: 100%;
  }
  .dashboard .sidebar-arrow {
    transform: rotate(0);
  }
}
.dashboard .sidebar .menu {
  align-self: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.dashboard .sidebar .menu-box {
  width: 100%;
}
.dashboard .sidebar .menu-item {
  margin: var(--spacing-box) 0;
}
.dashboard .sidebar .menu-link {
  align-items: center;
  border-radius: 5px;
  color: #000;
  display: flex;
  gap: 0 var(--spacing-box);
  text-decoration: none;
  padding: var(--spacing-md-box) var(--spacing-box);
  transition: all 0.2s ease-in-out;
}
.dashboard .sidebar .menu-link span,
.dashboard .sidebar .menu-link strong {
  display: none;
}
.dashboard .sidebar .menu-link.active, .dashboard .sidebar .menu-link:hover {
  background-color: var(--color-primary);
  color: white;
}
.dashboard .sidebar .menu-link.disabled {
  background-color: transparent;
  color: #000;
  pointer-events: none;
}
@media (min-width: 769px) {
  .dashboard .sidebar .menu-link span,
  .dashboard .sidebar .menu-link strong {
    display: inline-block;
  }
}
.dashboard .sidebar .plan {
  align-self: flex-end;
  display: none;
  width: 100%;
}
.dashboard .sidebar .plan .container {
  background-color: var(--color-bg);
  border-radius: var(--spacing-box);
  padding: 1.5rem var(--spacing-box);
}
.dashboard .sidebar .plan-title {
  font-size: 15px;
  margin: 0;
}
.dashboard .sidebar .plan-expires {
  font-size: 11px;
  margin-top: 0.3em;
}
.dashboard .sidebar .plan-details {
  margin: var(--spacing-box) 0;
}
.dashboard .sidebar .plan-details .details-item:not(:last-child) {
  margin-bottom: var(--spacing-md-box);
}
.dashboard .sidebar .plan-details .details-info {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}
.dashboard .sidebar .plan-details .details-info-name {
  font-size: 13px;
  margin: 0;
}
.dashboard .sidebar .plan-details .details-info-free {
  font-size: 10px;
}
.dashboard .sidebar .plan-details .details-bar {
  background-color: var(--color-secondary);
  border-radius: 2.5px;
  height: 5px;
  overflow: hidden;
  width: 100%;
}
.dashboard .sidebar .plan-details .details-bar-progress {
  background-color: var(--color-primary);
  border-radius: 2.5px;
  height: 5px;
}
.dashboard .sidebar .plan-btn {
  background-color: var(--color-primary);
  border-radius: var(--spacing-box);
  color: white;
  font-size: 12px;
  padding: 5px 15px;
  text-decoration: none;
}
@media (min-width: 769px) {
  .dashboard .sidebar .plan {
    display: block;
  }
}
.dashboard .content {
  overflow: hidden;
  word-break: break-all;
}
.dashboard .content .container {
  padding: var(--spacing-box);
  max-height: 100%;
  overflow-y: auto;
}
@media (min-width: 769px) {
  .dashboard .content .container {
    padding: 3rem;
  }
}
.dashboard .content .tabs {
  margin-bottom: 2rem;
}
.dashboard .content .tabs-nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px var(--spacing-box);
  margin-bottom: 1.5rem;
}
.dashboard .content .tabs-nav .tab {
  align-items: center;
  border-bottom: 3px solid transparent;
  color: black;
  display: flex;
  gap: 0 5px;
  font-size: 14px;
  text-decoration: none;
  transition: var(--transition);
}
.dashboard .content .tabs-nav .tab.active, .dashboard .content .tabs-nav .tab:hover {
  border-color: var(--color-primary);
  color: var(--color-primary);
}
.dashboard .content .tabs-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 0 calc(var(--spacing-box) / 2);
}
.dashboard .content .tabs-btn .btn {
  margin-bottom: 10px;
  transition: var(--transition);
}
.dashboard .content .tabs-btn .btn:hover {
  opacity: 0.8;
}
@media (min-width: 768px) {
  .dashboard .content .tabs {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  .dashboard .content .tabs-nav {
    margin-bottom: var(--spacing-box);
  }
  .dashboard .content .tabs-btn {
    gap: 0 var(--spacing-box);
  }
}
.dashboard .content .breadcrumb {
  align-items: center;
  display: flex;
  gap: 0 var(--spacing-box);
  margin-bottom: 2rem;
}
.dashboard .content .breadcrumb-btn {
  background-color: var(--color-primary);
  border-radius: 5px;
  color: white;
  display: block;
  height: 2rem;
  line-height: 2rem;
  padding: 5px;
  transition: var(--transition);
  width: 2rem;
}
.dashboard .content .breadcrumb-btn i {
  font-size: 2rem;
}
.dashboard .content .breadcrumb-btn:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}
.dashboard .content .breadcrumb-list {
  list-style: none;
  margin: 0;
  overflow-x: auto;
  padding: 0;
  white-space: nowrap;
  width: 100%;
}
.dashboard .content .breadcrumb-list li {
  display: inline-block;
}
.dashboard .content .breadcrumb-list li:not(:last-child)::after {
  content: "/";
  display: inline-block;
  margin: 0 5px;
}
.dashboard .content .breadcrumb-list li.current {
  font-weight: var(--fw-bold);
}
@media (min-width: 768px) {
  .dashboard .content .breadcrumb {
    font-size: 1.2rem;
  }
}
.dashboard .content .search {
  margin-bottom: 2rem;
}
.dashboard .content .search-form {
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  display: flex;
  padding: 5px 10px;
  width: calc(100% - 20px);
}
.dashboard .content .search-form i {
  border-right: 1px solid var(--color-border);
  color: var(--color-border);
  padding-right: 5px;
}
.dashboard .content .search-form input {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  font-family: var(--ft-family);
  padding: 5px 10px;
  width: calc(100% - 20px);
}
.dashboard .content .search-form input:focus {
  outline: none;
}
.dashboard .content .search-form input::placeholder {
  color: var(--color-border);
}
@media (min-width: 769px) {
  .dashboard .content .search-form {
    width: fit-content;
  }
  .dashboard .content .search-form input {
    width: 400px;
  }
}
.dashboard .content .files-container {
  overflow-x: auto;
}
.dashboard .content .files-table {
  border: none;
  border-spacing: 0;
  font-size: 14px;
  min-width: 600px;
  width: 100%;
}
.dashboard .content .files-table th,
.dashboard .content .files-table td {
  border-bottom: 1px solid var(--color-bg);
  padding: var(--spacing-md-box) 3px;
  text-align: center;
}
.dashboard .content .files-table th.filename,
.dashboard .content .files-table td.filename {
  text-align: left;
}
.dashboard .content .files-table th input[type=checkbox],
.dashboard .content .files-table td input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  border: 1px solid var(--color-border);
  border-radius: 2px;
  cursor: pointer;
  height: 12px;
  margin: 0;
  width: 12px;
}
.dashboard .content .files-table th input[type=checkbox]:checked::before,
.dashboard .content .files-table td input[type=checkbox]:checked::before {
  background-color: var(--color-primary);
  content: "";
  display: block;
  margin: 2px auto;
  height: 6px;
  width: 6px;
}
.dashboard .content .files-table thead th.filename {
  width: 40%;
}
@media (min-width: 769px) {
  .dashboard .content .files-table thead th.filename {
    width: 50%;
  }
}
.dashboard .content .files-table tbody tr {
  transition: var(--transition);
}
.dashboard .content .files-table tbody tr:hover {
  background-color: var(--color-bg);
}
.dashboard .content .files-table tbody tr td.filename a {
  align-items: center;
  display: flex;
  gap: 0 var(--spacing-md-box);
  text-decoration: none;
  width: 100%;
}
.dashboard .content .files-table tbody tr td.filename a i {
  color: var(--color-primary);
}
.dashboard .content .files-table tbody tr td.filename a span {
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}
@media (min-width: 769px) {
  .dashboard .content .files-table tbody tr td.filename a span {
    width: 30dvw;
  }
}